<div class="instructure">
  <nav>
    <div class="linkHolder navH1">
      <img class="instLogo" src="https://www.instructure.com/img/logo.svg" alt="logo">
      <h1 class="navH1">Canvas</h1>
      <h1 class="navH1">Bridge</h1>
      <h1 class="navH1">Arc</h1>
      <h1 class="navH1">News</h1>
      <h1 class="navH1">About Us</h1>
      <h1 class="navH1">Investors</h1>
      <h1 class="navH1">Career</h1>
    </div>
  </nav>
  <section class="mainContent">
    <div class="mainTop">
      <h1 class="mainTopH1">Learning + Tech x {<span class="keyWord">{{keyWord}}</span>}</h1>
      <h1 class="mainTopH1">= AWESOME.</h1>
      <div class="itemHolder">
        <div class="school buildings"></div>
        <div class="house buildings"></div>
        <div class="smallBiz buildings"></div>
        <div class="officeBuild buildings"></div>
        <div id="flyAway"class="Rocket buildings"></div>
        <h1 class="boxText">INSTRUCTURE makes software that
          <br>makes people smarter.</h1>
      </div>
    </div>
    <div class="middleBar"></div>
    <div class="mainBottom">
      <div class="bottomHolder">
        <div class="arc">
          <video class="arcVideo" src="https://www.instructure.com/video/final-grass-7.mp4" autoplay loop></video>
          <div class="arcLogo">
            <h1 class="arcLogoH1">Introducing</h1>
            <img class="arcLogoImg" src="https://www.instructure.com/img/arc-logo.png" alt="arc Logo">
          </div>
          <div class="arcInfo">
            <h1 class="arcInfoH1">Video made smart, easy, and interactive.</h1>
            <h3 class="arcInfoH3">Arc allows teachers and students to actively collaborate for a more impactful learning experience.
					</h3>
            <h2 class="arcInfoH2">LEARN MORE</h2>
          </div>
        </div>
        <div class="canvasBridgeHolder">
          <div class="canvas cbBoxes"></div>
          <div class="bridge cbBoxes"></div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="movingBar"></div>
    <section class="footerLinkHolder">
      <div class="footerLinks"><h1 id="career" class="foot">CAREERS</h1></div>
      <div class="footerLinks"><h1 id="blog" class="foot">BLOG</h1></div>
      <div class="footerLinks"><h1 id="press" class="foot">PRESS RELEASES</h1></div>
      <div class="footerLinks"><h1 id="investor" class="foot">INVESTORS</h1></div>
      <div class="footerLinks">
        <h1>CONTACT</h1>
        <h3 class="footerTxt txtMargin">6330 South 3000 East, Suite 700</h3>
        <h3 class="footerTxt">Salt Lake City, UT 84121</h3>
        <h3 class="footerTxt">info@instructure.com</h3>
        <h3 class="footerTxt">1.800.203.6755</h3>
        <br>
        <h3 class="footerTxt">Change Region</h3>
        <br>
        <br>
        <h3 class="footerTxt txtSmall">Copyright © 2017, Instructure, Inc.</h3>
        <h3 class="footerTxt txtSmall">All rights reserved.</h3>
      </div>
      <div class="footerLinks socialMedia">
        <img class="socialBtns" src="https://www.instructure.com/img/FBicon.png" alt="FaceBook">
        <img class="socialBtns" src="https://www.instructure.com/img/Ticon.png" alt="Twitter">
        <img class="socialBtns" src="https://www.instructure.com/img/YTicon.png" alt="YouTube">
        <img class="socialBtns" src="https://www.instructure.com/img/LIicon.png" alt="LinkedIn">
        <img class="socialBtns" src="https://www.instructure.com/img/GPicon.png" alt="GooglePlus">
        <h3 class="footerTxt txtMargin">Privacy Policy</h3>
        <h3 class="footerTxt txtMargin">Terms of Use</h3>
      </div>
    </section>
  </footer>
</div>
