<div class="instructure">
  <nav>
    <div class="linkHolder navH1">
      <img class="instLogo" src="https://www.instructure.com/img/logo.svg" alt="logo">
      <h1 class="navH1">Canvas</h1>
      <h1 class="navH1">Bridge</h1>
      <h1 class="navH1">Arc</h1>
      <h1 class="navH1">News</h1>
      <h1 class="navH1">About Us</h1>
      <h1 class="navH1">Investors</h1>
      <h1 class="navH1">Career</h1>
    </div>
  </nav>
  <section class="mainContent">
    <div class="mainTop">
      <h1 class="mainTopH1">Learning + Tech x {<span class="keyWord">{{keyWord}}</span>}</h1>
      <h1 class="mainTopH1">= AWESOME.</h1>
      <div class="itemHolder">
        <div class="school buildings"></div>
        <div class="house buildings"></div>
        <div class="smallBiz buildings"></div>
        <div class="officeBuild buildings"></div>
        <div id="flyAway"class="Rocket buildings"></div>
        <h1 class="boxText">INSTRUCTURE makes software that
          <br>makes people smarter.</h1>
      </div>
    </div>
    <div class="middleBar">

    </div>
    <div class="mainBottom">

    </div>
  </section>
  <footer>

  </footer>
</div>
